body {
  font-family: $main-font;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 00.04em;
  font-weight: 500;

  @include tablet {
    font-size: 14px;
    line-height: 1.74;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.76;
  }
}

.no-scroll {
  overflow: hidden;
}

.button-up {
  position: fixed;
  right: 20px;
  bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: rotate(270deg);

  background-color: rgba(212, 20, 68, 0.333);

  @include tablet {
    display: none;
  }
}

.button-up__icon {
  z-index: 10;
  width: 20px;
}
