@mixin small {
    @media screen and (min-width: 320px) and (max-width: 479px) {
       @content; 
    }
}
@mixin mobile {
    @media screen and (min-width: 480px) and (max-width: 767px) {
       @content; 
    }
}
@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
       @content; 
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
       @content; 
    }
}
.container{

width: 100%;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
    /*outline: 1px solid red;*/
   @media screen and (min-width: 320px) and (max-width:479px){
    max-width: 320px;
    padding: 0px 0px;
   }
   @media screen and (min-width: 480px) and (max-width:767px){
    max-width: 480px;
    padding: 0px 0px;
   }
   @media screen and (min-width: 768px) and (max-width:1199px){
    max-width: 768px;
   }
   @media screen and (min-width: 1200px){
    max-width: 1200px;
    padding: 0px 0px;
   }
    }
.activity__background{
    /* width: 1200px;
    height: 521px; */
    background-image: url(../images/mobile/about-milk-bgr.png);
    background-repeat: no-repeat;
    z-index: 3;
   background-position: center;
   background-size: 100%;
   height: 521px;
   @media screen and (min-width: 767px) and (max-width: 1199px){
    background-image: none;
   }
   @media screen and (min-width: 480px) and (max-width: 767px){
    height: 985px;
    padding: none;
   }
   @media screen and (min-width: 320px) and (max-width: 479px){
    height: 1078px;
    width: 100%;
   }
   }
   .activity__background-color{
    background-color: #FFF5F6;
    background-size: cover;
    @media screen and (min-width: 480px) and (max-width: 767px){
        
    }
}
.activity__wraper{
background-color: #FFF5F6;
  background-size: 100%;
  height: 1229px;
}
    
.activity__cow-pic{
    height: 501px;
    width: 501px;
    margin-left: 16px;
    margin-right: 100px;
    @media screen and (min-width: 320px) and (max-width: 479px){
       width: 280px;
       height: 279px;
       margin-right: 20px; 
    }
    @media screen and (min-width: 480px) and (max-width: 767px){
       width: 280px;
       height: 279px; 
       margin-left: 70px;
       margin-right: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        width: 336px;
        height: 335px;
        margin-right: 32px;
        margin-top: 40px;
    }
}

ul{
    list-style: none;
}
.activity__title{
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFA5BA;
padding-top: 60px;
@media screen and (min-width: 320px) and (max-width: 479px){
    font-size: 27px;
}
}
.activity__pre-title{
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 58px;
line-height: 66px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #D41443;
margin-top: 16px;
@media screen and (min-width: 768px) and (max-width: 1199px){
        margin-bottom: 0px;
        font-size: 48px;
        line-height: 55px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px){
        font-size: 54px;
        line-height: 66px;
        letter-spacing: 00.04em;
    }
}
.activity__sub-title{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 176%;
letter-spacing: 0.04em;
font-weight: bold;
color: #000000;
display: flex;
margin-bottom: 32px;
margin-top: 100px;
max-width: 463px;
@media screen and (min-width: 320px) and (max-width: 479px){
    max-width: 220px;
        font-size: 12px;
        line-height: 162%;
        margin-bottom: 40px;
    }
@media screen and (min-width: 768px) and (max-width: 1199px){
        max-width: 334px;
        font-size: 14px;
        margin-top: 52px;
    }
@media screen and (min-width: 480px) and (max-width: 767px){
        max-width: 220px;
        font-size: 12px;
        line-height: 162%;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-top: 40px;
    }
}
.activity__paragraph{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 194%;
letter-spacing: 0.04em;
color: #907E82;
display: flex;
margin-bottom: 32px;
max-width: 463px;
@media screen and (min-width: 768px) and (max-width: 1199px){
        max-width: 334px;
        margin-bottom: 0px;
        line-height: 176%;
    }
    @media screen and (min-width: 480px) and (max-width: 767px){
        max-width: 220px;
        font-size: 12px;
        line-height: 162%;
        margin-bottom: 0px;
        margin-left: 20px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px){
        max-width: 220px;
        font-size: 12px;
        line-height: 162%;
        margin-bottom: 0px;
    }
}


.activity__sub-paragraph{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 194%;
letter-spacing: 0.04em;
color: #907E82;
display: flex;
margin-bottom: 40px;
@media screen and (min-width: 768px) and (max-width: 1199px){
        max-width: 334px;
        margin-bottom: 0px;
        line-height: 176%;
    }
    @media screen and (min-width: 480px) and (max-width: 767px){
        max-width: 220px;
        font-size: 12px;
        line-height: 162%;
        margin-left: 20px;
    }
}
.activity__btn{
background: #FFFFFF;
border-radius: 22px;
border: #FFFFFF;
width: 176px;
height: 44px;
@media screen and (min-width: 768px) and (max-width: 1199px){
        margin-top: 40px;
    }
@media screen and (min-width: 480px) and (max-width: 767px){
    margin-left: 20px;
}
}
.activity__btn-text{
    display: flex;
    justify-content: center;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #D41443;
}


.activity__btn:hover,
.activity__btn:focus{
    background: #ECEBEB;
}

.activity__display{
    display: flex;
    flex-direction: column; 
}

.activity__list{
    // padding-right: 121px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media screen and (min-width: 320px) and (max-width: 479px){
    flex-wrap: nowrap;
    }
    @media screen and (min-width: 480px) and (max-width: 767px){
        flex-wrap: nowrap;
    }
}