.feedback ul {
    list-style: none;
}

.feedback .container {
    margin: 0 auto;
}

.feedback__img-wrap {
    display: flex;
    justify-content: center;
    margin:0 auto;
    margin-bottom: 32px;
}

.feedback__comment {
    max-width: 157px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    /* or 31px */

    text-align: center;

    color: $dark-font-color;
    margin: 0 auto;
    z-index: 3;
    position: relative;




}

.lines-img {
    position: absolute;
    top: 74px;
    left: 50px;
    bottom: 17px;
    right: 50px;
}

.feedback__menu-list {
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

.feedback__comment-wrap {
    padding-top: 43px;
    padding-bottom: 26px;
    padding-left: 65px;
    padding-right: 58px;
    background: #FAFAFA;
    position: relative;
    width: 280px;
    margin: 0 auto;
    position: relative;
    height: 308px;
    margin: 0;


}

.feedback__decoration-img {
    position: absolute;
    top: 30px;
    left: 53px;

}

.feedback__comment-creator {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    /* or 26px */

    text-align: center;

    color: #000000;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.feedback__slider {
    padding: 0;
    margin: 0;
    gap: 18px;
    display: flex;
    justify-content: center;

}

.feedback__slider-item:not(:first-child) {
    background: #D9D9D9;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
