:root {
  --main-font: 'DM Sans', sans-serif;
}

.container-contact {
  background-image: linear-gradient(
    $white-color 21%,
    $about-footer-background-color 21%
  );
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.card-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-card {
  max-width: 280px;
  min-height: 412px;

  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 32px;

  background-color: $white-color;
  border-radius: 24px;
  box-shadow: 0px 8px 30px hsla(345, 83%, 45%, 0.1);
  &:last-child {
    margin-bottom: 32px;
  }
}

.contacts-card__title {
  margin-top: 0;
  margin-bottom: 20px;

  width: 80px;

  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.86;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;

  color: $white-color;
  //   background-color: $product-card2-color;
  background-color: $product-card2-color;
}

.contacts-card__location {
  margin-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-card__city {
  margin-top: 0;
  margin-bottom: 8px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;

  color: $dark-font-color;
}

.contacts-card__title--textcolor {
  width: 130px;
  background-color: $product-card3-color;
}

.contacts-card__description {
  display: block;

  margin-top: 0;
  margin-bottom: 24px;
  max-width: 179px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: $light-font-color;
}

.contacts-card__shedule {
  margin-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-card__shedule-list {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  list-style: none;
  &:last-child {
    margin-bottom: 24px;
  }
}

.contacts-card__shedule-day {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $dark-font-color;
}

.contacts-card__shedule-time {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $light-subtitle-color;
}

.contacts-card__contacts-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.contacts-card__contacts-tel,
.contacts-card__contacts-email {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $light-font-color;
  text-decoration: none;

  &:hover,
  &:hover {
    color: $dark-title-color;
  }
}

/* ___Buttons___ */
.btn {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;

  width: 161px;
  height: 44px;
  border-radius: 22px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
}

.main-button {
  margin-bottom: 10px;

  color: #ffffff;
  background-color: #d41342;
}

.main-button__button-icon {
  position: relative;
  margin-left: 9px;

  //   top: 2px;
  width: 7px;
  height: 10px;
}

.secondary-button {
  color: #d41342;
  background-color: #ffffff;
}
