.footer {
    background-color: $about-footer-background-color;

    &__connection {

        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 67px;
        }

        @media screen and (max-width: $desktop) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @media screen and (min-width: $desktop) {
            padding-top: 121px;
            border-bottom: 1px solid #E1E1E1;
        }
    }

    &__text {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        color: $light-subtitle-color;
        letter-spacing: 0.04em;

        @media screen and (min-width: $mobile) {
            font-size: 18px;
            line-height: 1.16;
            margin: 0 0 16px 0;
        }

        @media screen and (min-width: $tablet) {
            font-size: 25px;
            line-height: 1.15;
        }

        @media screen and (min-width: $desktop) {
            font-size: 30px;
            line-height: 1.14;
            margin: 0 0 16px 0;
        }
    }


    &__title {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        color: $dark-title-color;


        @media screen and (max-width: $tablet) {
            font-size: 34px;
            line-height: 1.15;
            letter-spacing: 0.04em;
            margin-right: 84px;
            margin-bottom: 40px;
            margin-top: 0;
        }

        @media screen and (min-width: $tablet) {
            font-size: 48px;
            line-height: 1.14;
            letter-spacing: 0.06em;
            margin: 0;
        }

        @media screen and (min-width: $desktop) {
            font-size: 58px;

        }

    }

    &__boxtext {
        @media screen and (min-width: $tablet) {
            width: 340px;
        }

        @media screen and (min-width: $desktop) {
            width: 480px;
        }
    }


    &__network {
        display: flex;
        justify-content: flex-end;

        @media screen and (min-width: $tablet) {
            margin-top: 60px;
        }

        @media screen and (max-width: $desktop) {
            margin-bottom: 40px;
        }

        @media screen and (min-width: $desktop) {
            margin: 12px 0 40px 0;
        }
    }

    &__link:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #FEA5BB;
        border-radius: 50%;

        @media screen and (max-width: $tablet) {
            width: 32px;
            height: 32px;
        }

        @media screen and (min-width: $tablet) {
            width: 34px;
            height: 34px;
        }

    }

    &__link:hover {
        background-color: $dark-title-color;
    }

    &__telephone {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        line-height: 186%;
        letter-spacing: 0.02em;
        color: #000000;

        @media screen and (max-width: $tablet) {
            font-size: 12px;
            padding-left: 34px;
        }

        @media screen and (min-width: $tablet) {
            font-size: 14px;
            padding-left: 0;
        }

        @media screen and (min-width: $desktop) {
            font-size: 16px;
            margin-left: 0;
        }

        &--number {
            color: $dark-title-color;
            margin-left: 3px;

        }
    }

    &__end {

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: $light-font-color;
        text-align: center;
        margin: 0;

        @media screen and (max-width: $tablet) {
            padding-top: 16px;
            padding-left: 90px;
            padding-right: 90px;
        }

        @media screen and (min-width: $tablet) {
            padding-top: 8px;
            padding-left: 0;
            padding-right: 0;
            line-height: 152%;
        }

        @media screen and (max-width: $desktop) {
            border-top: 1px solid #E1E1E1;
        }

        @media screen and (min-width: $desktop) {
            line-height: 186%;
            letter-spacing: 0.02em;
            border-top: none;
        }

    }

}