h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}
