$hero-background-color: #ffb8ca;
$about-footer-background-color: #fff5f6;
$mob-menu-background: #e17992;

$white-color: #ffffff;
$hero-circle-color: #ffa5ba;

$dark-title-color: #d41443;
$light-subtitle-color: #ffa5ba;
$light-font-color: #907e82;
$dark-font-color: #000000;

$product-card1-color: #ffb8ca;
$product-card2-color: #f0d1a5;
$product-card3-color: #c2e297;
