@import './common';

@import './utils/vars';
@import './utils/mixins';
@import './utils/visually-hidden';

@import './base/normalize';
@import './base/reset';
@import './base/body';
@import './base/section';
@import './base/container';

@import './components/buttons';
@import './components/titles';
@import './components/slider-dots';
// @import './components/modal-about';
@import './components/modal-windows.scss';

@import './layouts/01header';
@import './layouts/02hero';
@import './layouts/03products';
@import './layouts/04about';
@import './layouts/05advantages';
@import './layouts/06gallery';
@import './layouts/07customer-reviews';
@import './layouts/08contacts';
@import './layouts/09footer';
