$title-font: 'Titan One', cursive;
$main-font: 'DM Sans', sans-serif;

$hero-background-color: #ffb8ca;
$about-footer-background-color: #fff5f6;
$mob-menu-background: #e17992;
$mob-menu-border: #e18298;
$customer-border: #e1e1e1;
$customer-background: #fafafa;

$button-hover-color: #ecebeb;
$dark-btn-color: #d41443;

$white-color: #ffffff;
$hero-circle-color: #ffa5ba;

$dark-title-color: #d41443;
$light-subtitle-color: #ffa5ba;
$light-font-color: #907e82;
$dark-font-color: #000000;

$product-card1-color: #ffb8ca;
$product-card2-color: #f0d1a5;
$product-card3-color: #c2e297;

$time-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 320px;
$tablet: 767.98px;
$desktop: 1200px;
