<header class="header">
  <div class="container header-container">
    <a href="" class="header-logo">
      <svg class="header-logo__icon" width="199" height="50">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <button type="button" class="menu-btn" data-menu-button>
      <svg aria-label="mobile menu switch" width="20" height="20">
        <use
          href="./images/sprite.svg#icon-Burger"
          class="menu-btn__burger"
        ></use>
        <use
          href="./images/sprite.svg#icon-close"
          class="menu-btn__close"
        ></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="header-nav__list list">
        <li class="header-nav__item">
          <a href="" class="header-nav__link link current">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="#advantage" class="header-nav__link link">About us</a>
        </li>
        <li class="header-nav__item">
          <a href="#about" class="header-nav__link link">How it’s made?</a>
        </li>
        <li class="header-nav__item">
          <a href="#products" class="header-nav__link link">Our products</a>
        </li>
        <li class="header-nav__item">
          <a href="#contacts" class="header-nav__link link">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-btn">
      Buy now
      <svg class="header-btn__logo" width="6" height="8">
        <use href="./images/sprite.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  

  <div class="burger-menu" data-menu>
		<svg class="burger-menu__icon-close" width="20" height="20"> <use
          href="./images/sprite.svg#icon-close"
          class="menu-btn__close"
        ></use></svg>
    <button type="button" class="burger-menu__btn">
      Buy now
      <svg class="burger-menu-btn__logo" width="6" height="8">
        <use href="./images/sprite.svg#icon-btn-arrow"></use>
      </svg>
    </button>
    <nav class="burger-nav">
      <ul class="burger-nav__list list" >
        <li class="burger-nav__item">
          <a href="" class="burger-nav__link link current">Home</a>
        </li>
        <li class="burger-nav__item">
          <a href="#advantage" class="burger-nav__link link">About us</a>
        </li>
        <li class="burger-nav__item">
          <a href="#about" class="burger-nav__link link">How it’s made?</a>
        </li>
        <li class="burger-nav__item">
          <a href="#products" class="burger-nav__link link">Our products</a>
        </li>
        <li class="burger-nav__item">
          <a href="#contacts" class="burger-nav__link link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
