<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__title-part">passion</span>
    </h1>
    <div class="hero__btn-box">
      <button class="btn hero__btn hero__btn-first">Products</button>
      <button class="btn hero__btn hero__btn-second">How it’s made?</button>
    </div>
    <!-- <picture>
      <source
        srcset="./images/mobile/hero-img.png, ./images/mobile/hero-img@2x.png"
        media="(min-widht: 320px)"
      />
      <img
        class="hero__img"
        src="./images/mobile/hero-img.png"
        alt="морозиво ріжок"
      />
    </picture> -->
    <!-- <div class="hero__circle"></div> -->
  </div>
</section>
