<section class="hero">
  <div class="container">
    <div class="hero__box">
      <h1 class="hero__title">
        ice cream <br />
        made with <br />
        <span class="hero__title-part">passion</span>
      </h1>
      <div class="hero__link-box">
        <a class="hero__link hero__link-first" href="#products"> Products </a>
        <a class="hero__link hero__link-second" href="#about">
          How it’s made?
        </a>
      </div>
    </div>
    <picture class="hero__img">
      <source
        srcset="./images/mobile/hero-img.png, ./images/mobile/hero-img@2x.png"
        media="(min-widht: 320px)"
      />
      <img src="./images/mobile/hero-img.png" alt="морозиво ріжок" />
    </picture>
  </div>
</section>
