<!-- Products -->
<section class="products section" id="products">
  <div class="container">
    <p class="products__text">100% natural</p>
    <h2 class="products__title title">Products</h2>

    <ul class="products-card">
      <li class="products-card__item">
        <picture class="products-card__image">

          <source srcset="
          ../src/images/desktop/product-1.png    1x, 
          ../src/images/desktop/product-1@2x.png 2x" 
          media="screen and (min-width: 1200px)"/>

          <source srcset="
          ../src/images/tablet/products-1.png    1x, 
          ../src/images/tablet/products-1@2x.png 2x"
          media="screen and (min-width: 768px)"/> 

          <source
            srcset="
              ../src/images/mobile/products-1.png    1x,
              ../src/images/mobile/products-1@2x.png 2x"
            media="screen and 	(min-width: 480px)"
          />
          <img
            src="../src/images/mobile/products-1.png"
            alt=""
            class="products-card__image"
          />
        </picture>

        <div class="products-content">
          <h3 class="products-content__title title">ice cream</h3>
          <ul class="products-content__list-ellipse">
            <li class="products-content__item-ellipse">
              <a
                href=""
                class="products-content__link-ellipse"
                aria-label="ellipse"
              >
                <svg
                  class="products-content__icon-ellipse"
                  width="6"
                  height="6"
                >
                  <!-- <use href="./src/images/icons.svg#"></use> -->
                </svg>
              </a>
            </li>
            <li class="products-content__item-ellipse">
              <a
                href=""
                class="products-content__link-ellipse"
                aria-label="ellipse"
              >
                <svg
                  class="products-content__icon-ellipse"
                  width="6"
                  height="6"
                >
                  <!-- <use href="./src/images/icons.svg#"></use> -->
                </svg>
              </a>
            </li>
            <li class="products-content__item-ellipse">
              <a
                href=""
                class="products-content__link-ellipse"
                aria-label="ellipse"
              >
                <svg
                  class="products-content__icon-ellipse"
                  width="6"
                  height="6"
                >
                  <!-- <use href="./src/images/icons.svg#"></use> -->
                </svg>
              </a>
            </li>
          </ul>
          <p lang="en" class="products-content__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products-content__button" data-modal-open>
            <img
              srcset="
                ./images/mobile/arrow-right.png    1x,
                ./images/mobile/arrow-right@2x.png 2x
              "
              src="./images/mobile/arrow-right.png"
              alt="arrow"
              class="product-content__icon"
              width="40"
              height="40"
            />
            <!-- <svg class="products-content__icon" width="40" height="40">
                <use href="../src/images/sprite.svg#icon-btn-arrow"></use>
              </svg> -->
          </button>
        </div>
      </li>

      <li class="products-card__item">
        <picture class="products-card__image">
          <source srcset="
          ../src/images/desktop/product-2.png    1x, 
          ../src/images/desktop/product-2@2x.png 2x" 
          media="screen and (min-width: 1200px)"/>

          <source srcset="
          ../src/images/tablet/products-2.png    1x, 
          ../src/images/tablet/products-2@2x.png 2x"
          media="screen and (min-width: 768px)"/> 

          <source
            srcset="
              ../src/images/mobile/products-2.png    1x,
              ../src/images/mobile/products-2@2x.png 2x
            "
            media="screen and 	(min-width: 480px)"
          />
          <img
            src="../src/images/mobile/products-2.png"
            alt=""
            class="products-card__image"
          />
        </picture>

        <div class="products-content products-content--coffee">
          <h3 class="products-content__title title">ice coffee</h3>
          <ul class="products-content__list-ellipse">
            <li class="products-content__item-ellipse">
              <a
                href=""
                class="products-content__link-ellipse"
                aria-label="ellipse"
              >
                <svg
                  class="products-content__icon-ellipse"
                  width="6"
                  height="6"
                >
                  <!-- <use href="./src/images/icons.svg#"></use> -->
                </svg>
              </a>
            </li>
            <li class="products-content__item-ellipse">
              <a
                href=""
                class="products-content__link-ellipse"
                aria-label="ellipse"
              >
                <svg
                  class="products-content__icon-ellipse"
                  width="6"
                  height="6"
                >
                  <!-- <use href="./src/images/icons.svg#"></use> -->
                </svg>
              </a>
            </li>
            <li class="products-content__item-ellipse">
              <a
                href=""
                class="products-content__link-ellipse"
                aria-label="ellipse"
              >
                <svg
                  class="products-content__icon-ellipse"
                  width="6"
                  height="6"
                >
                  <!-- <use href="./src/images/icons.svg#"></use> -->
                </svg>
              </a>
            </li>
          </ul>
          <p lang="en" class="products-content__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products-content__button" data-modal-open>
            <img
              srcset="
                ./images/mobile/arrow-right.png    1x,
                ./images/mobile/arrow-right@2x.png 2x
              "
              src="./images/mobile/arrow-right.png"
              alt="arrow"
              class="product-content__icon"
              width="40"
              height="40"
            />
            <!-- <svg class="products-content__icon" width="40" height="40">
              <use href="../src/images/sprite.svg#icon-btn-arrow"></use>
            </svg> -->
          </button>
        </div>
      </li>

      <li class="products-card__item">
        <picture class="products-card__image">
          <source srcset="
          ../src/images/desktop/product-3.png    1x, 
          ../src/images/desktop/product-3@2x.png 2x" 
          media="screen and (min-width: 1200px)"/>

          <source srcset="
          ../src/images/tablet/products-3.png    1x, 
          ../src/images/tablet/products-3@2x.png 2x"
          media="screen and (min-width: 768px)"/> 
          <source
            srcset="
              ../src/images/mobile/products-3.png    1x,
              ../src/images/mobile/products-3@2x.png 2x
            "
            media="screen and 	(min-width: 480px)"
          />
          <img
            src="../src/images/mobile/products-3.png"
            alt=""
            class="products-card__image"
          />
        </picture>
        <div class="products-content products-content--pistachio">
          <h3 class="products-content__title title">milkshakes</h3>
          <ul class="products-content__list-ellipse">
            <li class="products-content__item-ellipse">
              <a
                href=""
                class="products-content__link-ellipse"
                aria-label="ellipse"
              >
                <svg
                  class="products-content__icon-ellipse"
                  width="6"
                  height="6"
                >
                  <!-- <use href="./src/images/icons.svg#"></use> -->
                </svg>
              </a>
            </li>
            <li class="products-content__item-ellipse">
              <a
                href=""
                class="products-content__link-ellipse"
                aria-label="ellipse"
              >
                <svg
                  class="products-content__icon-ellipse"
                  width="6"
                  height="6"
                >
                  <!-- <use href="./src/images/icons.svg#"></use> -->
                </svg>
              </a>
            </li>
            <li class="products-content__item-ellipse">
              <a
                href=""
                class="products-content__link-ellipse"
                aria-label="ellipse"
              >
                <svg
                  class="products-content__icon-ellipse"
                  width="6"
                  height="6"
                >
                  <!-- <use href="./src/images/icons.svg#"></use> -->
                </svg>
              </a>
            </li>
          </ul>
          <p lang="en" class="products-content__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products-content__button" data-modal-open>
            <img
              srcset="
                ./images/mobile/arrow-right.png    1x,
                ./images/mobile/arrow-right@2x.png 2x
              "
              src="./images/mobile/arrow-right.png"
              alt="arrow"
              class="product-content__icon"
              width="40"
              height="40"
            />
            <!-- <svg class="products-content__icon" width="40" height="40">
              <use href="../src/images/sprite.svg#icon-btn-arrow"></use>
            </svg> -->
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
