<section class="about section" id="about">
  <div class="container about__background-color">
    <h2 class="about__title">tradition and love</h2>
    <h1 class="about__pre-title">how it’s made?</h1>
    <div class="about__list">
      <picture>
        <source
          srcset="
            /src/images/desktop/about-cow.png    1x,
            /src/images/desktop/about-cow@2x.png 2x
          "
          src="/src/images/desktop/about-cow.png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/mobile/about-cow.png    1x,
            /src/images/mobile/about-cow@2x.png 2x
          "
          src="/src/images/mobile/about-cow.png"
          media="(min-width: 320px)"
        />
      </picture>
      <img
        srcset="
          /src/images/desktop/about-cow.png    1x,
          /src/images/desktop/about-cow@2x.png 2x
        "
        src="/src/images/desktop/about-cow.png"
        align="left"
        alt="cow"
        class="about__cow-pic element-animation"
      />
      <div class="about__text-flex">
        <p class="about__sub-title">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__paragraph">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__sub-paragraph">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__btn js-open-modal" data-modal="6">
          <span class="about__btn-text">Read more ></span>
        </button>
      </div>
    </div>
  </div>
</section>
