<div class="activity__wraper">
<div class="container activity__background-color">
    <h2 class="activity__title">tradition and love</h2>
    <h1 class="activity__pre-title">how it’s made?</h1>
    <div class="activity__display">
    <ul class="activity__list activity__background">
        <li class="activity__item"><img src="./images/mobile/about-cow.png" alt="cow" class="activity__cow-pic"></li>
        <li class="activity__item"><p class="activity__sub-title">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p></li>
        <li class="activity__item"><p class="activity__paragraph">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p></li>
        <li class="activity__item"><p class="activity__sub-paragraph">Aliquam erat volutpat. Aenean accumsan.</p></li>
        <li class="activity__item"><button type="button" class="activity__btn"><span class="activity__btn-text">Read more ></span></button></li>
    </ul>
    </div>
</div>
</div>