<section class="section advantage" id="advantage">
  <div class="container">
    <h2 class="visually-hidden">Advantage section</h2>
    <ul class="advantage__list">
      <li class="advantage__item">
        <svg class="advantage__icon" width="33" height="50">
          <use href="./images/sprite.svg#icon-about-1"></use>
        </svg>
        <h4 class="advantage__subtitle">721</h4>
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <svg class="advantage__icon" width="50" height="50">
          <use href="./images/sprite.svg#icon-about-2"></use>
        </svg>
        <h4 class="advantage__subtitle">16kg</h4>
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <svg class="advantage__icon" width="44" height="50">
          <use href="./images/sprite.svg#icon-about-3"></use>
        </svg>
        <h4 class="advantage__subtitle">84</h4>
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
