<section class="section advantage" id="advantage">
  <div class="container">
    <h2 class="visually-hidden">Advantage section</h2>
    <ul class="advantage__list">
      <li class="advantage__item">
        <b class="advantage__subtitle cow-milk">721</h4и>
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <b class="advantage__subtitle apple">16kg</>
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <b class="advantage__subtitle heart">84</>
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
