<section class="gallery section">
  <div class="container-gallery container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="picture-set">
      <div class="picture-1" data-aos="zoom-in" data-aos-duration="1150">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-1.webp    1x,
              ./images/desktop/galery-1@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-1.webp    1x,
              ./images/tablet/galery-1@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-1.webp    1x,
              ./images/mobile/galery-1@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-1.webp    1x,
              ./images/mobile/galery-1@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-1jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>

      <div class="picture-2" data-aos="zoom-in-left" data-aos-duration="1300">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-2.webp    1x,
              ./images/desktop/galery-2@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-2.webp    1x,
              ./images/tablet/galery-2@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-2.webp    1x,
              ./images/mobile/galery-2@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-2.webp    1x,
              ./images/mobile/galery-2@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-2jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>

      <div class="picture-3" data-aos="zoom-in-down" data-aos-duration="1120">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-3.webp    1x,
              ./images/desktop/galery-3@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-3.webp    1x,
              ./images/tablet/galery-3@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-3.webp    1x,
              ./images/mobile/galery-3@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-3.webp    1x,
              ./images/mobile/galery-3@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-3jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>

      <div class="picture-4">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-4.webp    1x,
              ./images/desktop/galery-4@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-4.webp    1x,
              ./images/tablet/galery-4@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-4.webp    1x,
              ./images/mobile/galery-4@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-4.webp    1x,
              ./images/mobile/galery-4@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-4jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>

      <div class="picture-5">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-5.webp    1x,
              ./images/desktop/galery-5@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-5.webp    1x,
              ./images/tablet/galery-5@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-5.webp    1x,
              ./images/mobile/galery-5@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-5.webp    1x,
              ./images/mobile/galery-5@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-5jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>

      <div class="picture-6">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-6.webp    1x,
              ./images/desktop/galery-6@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-6.webp    1x,
              ./images/tablet/galery-6@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-6.webp    1x,
              ./images/mobile/galery-6@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-6.webp    1x,
              ./images/mobile/galery-6@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-6jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>

      <div class="picture-7">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-7.webp    1x,
              ./images/desktop/galery-7@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-7.webp    1x,
              ./images/tablet/galery-7@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-7.webp    1x,
              ./images/mobile/galery-7@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-7.webp    1x,
              ./images/mobile/galery-7@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-7jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>

      <div class="picture-8">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-8.webp    1x,
              ./images/desktop/galery-8@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-8.webp    1x,
              ./images/tablet/galery-8@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-8.webp    1x,
              ./images/mobile/galery-8@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-8.webp    1x,
              ./images/mobile/galery-8@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-8jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>

      <div class="picture-9">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-9.webp    1x,
              ./images/desktop/galery-9@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-9.webp    1x,
              ./images/tablet/galery-9@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-9.webp    1x,
              ./images/mobile/galery-9@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-9.webp    1x,
              ./images/mobile/galery-9@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-9jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>

      <div class="picture-10">
        <picture class="gallery-image">
          <source
            srcset="
              ./images/desktop/galery-10.webp    1x,
              ./images/desktop/galery-10@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/galery-10.webp    1x,
              ./images/tablet/galery-10@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/galery-10.webp    1x,
              ./images/mobile/galery-10@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/mobile/galery-10.webp    1x,
              ./images/mobile/galery-10@2x.webp 2x
            "
            media="(max-width: 320px)"
          />
          <img
            class="gallery-img"
            src="./images/desktop/galery-10jpeg.jpg"
            alt="Icecream"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
