<section class="feedback">
    <div class="container">
        <div class="feedback__wrap">
            <div class="feedback__img-wrap">
                <img src="./images/mobile/customers-1jpeg.jpg" alt="" class="feedback__img" width="85" height="85">
            </div>
            <div class="feedback__comment-wrap">
                <svg width="54" height="40" class="feedback__decoration-img">
                    <use href="./images/sprite.svg#sprite-customers-comma"></use>
                </svg>
                <p class="feedback__comment">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <img src="./images/mobile/lines-img.png" alt="" class="lines-img">
            </div>
            <div class="feedback__menu">
                <ul class="feedback__menu-list">
                    <li class="feedback__menu-item">
                        <svg width="4" height="4">
                            <use href="./images/sprite.svg#feedback-top-decoration"></use>
                        </svg>
                    </li>
                    <li class="feedback__menu-item">
                        <svg width="4" height="4">
                            <use href="./images/sprite.svg#feedback-top-decoration"></use>
                        </svg>
                    </li>
                    <li class="feedback__menu-item">
                        <svg width="4" height="4">
                            <use href="./images/sprite.svg#feedback-top-decoration"></use>
                        </svg>
                    </li>


                </ul>
                <p class="feedback__comment-creator">
                    Emily, Los Angeles
                </p>
                <ul class="feedback__slider">
                    <li class="feedback__slider-item">
                        <svg width="12" height="12">
                            <use href="./images/sprite.svg#icon-customers-house"></use>
                        </svg>
                    </li>
                    <li class="feedback__slider-item"></li>
                    <li class="feedback__slider-item"></li>
                </ul>
            </div>
        </div>
    </div>
</section>