<section class="feedback section">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="feedback__wrap">
      <div class="slider">
        <div class="slider__item">
          <div
            class="feedback__img-wrap"
            data-aos="rotate-c"
            data-aos-duration="1500"
          >
            <img
              src="./images/mobile/customers-1jpeg.jpg"
              alt=""
              class="feedback__img"
              width="85"
              height="85"
            />
          </div>
          <div class="feedback__comment-wrap">
            <img
              src="./images/customers-comma.svg"
              alt=""
              class="feedback__decoration-img"
            />
            <p class="feedback__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>

            <!-- <img src="./images/mobile/lines-img.png" alt="" class="lines-img" /> -->
          </div>
          <ul class="feedback__menu-list">
            <li class="feedback__menu-item">
              <svg width="4" height="4">
                <use href="./images/sprite.svg#feedback-top-decoration"></use>
              </svg>
            </li>
            <li class="feedback__menu-item">
              <svg width="4" height="4">
                <use href="./images/sprite.svg#feedback-top-decoration"></use>
              </svg>
            </li>
            <li class="feedback__menu-item">
              <svg width="4" height="4">
                <use href="./images/sprite.svg#feedback-top-decoration"></use>
              </svg>
            </li>
          </ul>
          <p class="feedback__comment-creator">Emily, Los Angeles</p>
        </div>
        <div class="slider__item">
          <div
            class="feedback__img-wrap"
            data-aos="rotate-c"
            data-aos-duration="1500"
          >
            <img
              src="./images/mobile/customers-2jpeg.jpg"
              alt=""
              class="feedback__img"
              width="85"
              height="85"
            />
          </div>
          <div class="feedback__comment-wrap">
            <img
              src="./images/customers-comma.svg"
              alt=""
              class="feedback__decoration-img"
            />
            <p class="feedback__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <ul class="feedback__menu-list">
            <li class="feedback__menu-item">
              <svg width="4" height="4">
                <use href="./images/sprite.svg#feedback-top-decoration"></use>
              </svg>
            </li>
            <li class="feedback__menu-item">
              <svg width="4" height="4">
                <use href="./images/sprite.svg#feedback-top-decoration"></use>
              </svg>
            </li>
            <li class="feedback__menu-item">
              <svg width="4" height="4">
                <use href="./images/sprite.svg#feedback-top-decoration"></use>
              </svg>
            </li>
          </ul>
          <p class="feedback__comment-creator">Karen, Washington</p>
        </div>
        <div class="slider__item">
          <div
            class="feedback__img-wrap"
            data-aos="rotate-c"
            data-aos-duration="1500"
          >
            <img
              src="./images/mobile/customers-3jpeg.jpg"
              alt=""
              class="feedback__img"
              width="85"
              height="85"
            />
          </div>
          <div class="feedback__comment-wrap">
            <img
              src="./images/customers-comma.svg"
              alt=""
              class="feedback__decoration-img"
            />

            <p class="feedback__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <ul class="feedback__menu-list">
            <li class="feedback__menu-item">
              <svg width="4" height="4">
                <use href="./images/sprite.svg#feedback-top-decoration"></use>
              </svg>
            </li>
            <li class="feedback__menu-item">
              <svg width="4" height="4">
                <use href="./images/sprite.svg#feedback-top-decoration"></use>
              </svg>
            </li>
            <li class="feedback__menu-item">
              <svg width="4" height="4">
                <use href="./images/sprite.svg#feedback-top-decoration"></use>
              </svg>
            </li>
          </ul>
          <p class="feedback__comment-creator">Helen, New York</p>
        </div>
      </div>
      <div class="feedback__menu"></div>
    </div>
  </div>
</section>
