<footer class="footer">
  <div class="container">
    <div class="footer__connection">
      <div class="footer__boxtext">
        <p class="footer__text pre-title">homemade ice cream made</p>
        <p class="footer__title title">with passion</p>
      </div>

      <div class="footer__messanger">
        <ul class="footer__network">
          <li class="footer__link">
            <a href="https://github.com" target="_blank">
              <svg class="footer__github" width="20" height="20">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>

          <li class="footer__link">
            <a href="https://web.telegram.org" target="_blank">
              <svg class="footer__telegram" width="20" height="16">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li class="footer__link">
            <a href="https://uk-ua.facebook.com" target="_blank">
              <svg class="footer__facebook" width="10" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <a class="footer__telephone" href="tel:+61(0)383766284"
          >Feel free to contact<span class="footer__telephone--number"
            >+61 (0) 383 766 284</span
          >
        </a>
      </div>
    </div>
  </div>

  <p class="footer__end">&#169; 2022 - IceCream. All Rights Reserved.</p>
</footer>
