<div class="modal modal-buy" data-modal="1">
  <svg class="main__close-icon js-modal-close" width="20px" height="20px">
    <use href="./images/sprite.svg#icon-close"></use>
  </svg>
  <p class="modal-buy__title">Make your choice</p>

  <div class="modal-buy__choice">
    <label for="flavor" class="modal-buy__label">ice cream</label>
    <select id="flavor" name="flavor" class="modal-buy__select">
      <option value="none" class="modal-buy__option">none</option>
      <option value="vanilla" class="modal-buy__option">vanilla</option>
      <option value="chocolate" class="modal-buy__option">chocolate</option>
      <option value="fruity" class="modal-buy__option">fruity</option>
    </select>

    <label for="size" class="modal-buy__label">ice coffee</label>
    <select id="size" name="size" class="modal-buy__select">
      <option value="none" class="modal-buy__option">none</option>
      <option value="m" class="modal-buy__option">Medium</option>
      <option value="l" class="modal-buy__option">Large</option>
    </select>

    <label for="flavor-1" class="modal-buy__label">milkshakes</label>
    <select id="flavor-1" name="flavor-1" class="modal-buy__select">
      <option value="none" class="modal-buy__option">none</option>
      <option value="vanilla" class="modal-buy__option">vanilla</option>
      <option value="chocolate" class="modal-buy__option">chocolate</option>
      <option value="fruity" class="modal-buy__option">fruity</option>
    </select>
  </div>

  <button type="button" class="modal-buy__btn">
    add to cart
    <svg class="modal-buy__icon" width="20px" height="20px">
      <use href="./images/sprite.svg#cart"></use>
    </svg>
  </button>
</div>

<div class="modal modal-2" data-modal="2">
  <svg class="main__close-icon js-modal-close" width="20px" height="20px">
    <use href="./images/sprite.svg#icon-close"></use>
  </svg>
  <img
    src="./images/mobile/about-cow.png"
    alt="cow"
    class="cow-modal-6-img"
    width="70"
  />
  <p class="modal-2__text">
    ЗLorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    reiciendis facere corrupti dignissimos hic animi, asperiores nulla
    consequatur quaerat a odio officiis ab provident, eum eveniet nostrum
    quibusdam aspernatur placeat. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Voluptatibus, atque veritatis, architecto cumque, magnam
    debitis possimus temporibus vitae aspernatur aliquam dignissimos fugiat a ex
    modi iusto nesciunt quibusdam velit illo.
  </p>
</div>

<div class="modal modal-3 container" data-modal="3">
  <svg
    class="main__close-icon close-icon-3 js-modal-close"
    width="20px"
    height="20px"
  >
    <use href="./images/sprite.svg#icon-close"></use>
  </svg>
  <p class="modal-3__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sit
    doloribus ullam itaque cumque ut fuga possimus nulla nostrum, explicabo quis
    laudantium asperiores voluptas exercitationem accusamus unde ipsam quo illo.
  </p>
</div>

<div class="modal modal-4" data-modal="4">
  <svg class="main__close-icon js-modal-close" width="20px" height="20px">
    <use href="./images/sprite.svg#icon-close"></use>
  </svg>
  <p class="modal-3__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sit
    doloribus ullam itaque cumque ut fuga possimus nulla nostrum, explicabo quis
    laudantium asperiores voluptas exercitationem accusamus unde ipsam quo illo.
  </p>
</div>

<div class="modal modal-5" data-modal="5">
  <svg class="main__close-icon js-modal-close" width="20px" height="20px">
    <use href="./images/sprite.svg#icon-close"></use>
  </svg>
  <p class="modal-3__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sit
    doloribus ullam itaque cumque ut fuga possimus nulla nostrum, explicabo quis
    laudantium asperiores voluptas exercitationem accusamus unde ipsam quo illo.
  </p>
</div>

<div class="modal modal-6" data-modal="6">
  <svg
    class="modal__close-btn main__close-icon js-modal-close"
    width="20px"
    height="20px"
  >
    <use href="./images/sprite.svg#icon-close"></use>
  </svg>
  <img
    src="./images/mobile/about-cow.png"
    alt="cow"
    class="cow-modal-6-img"
    width="70"
  />
  <p class="modal-6__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis
    facere corrupti dignissimos hic animi, asperiores nulla consequatur quaerat
    a odio officiis ab provident, eum eveniet nostrum quibusdam aspernatur
    placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Voluptatibus, atque veritatis, architecto cumque, magnam debitis possimus
    temporibus vitae aspernatur aliquam dignissimos fugiat a ex modi iusto
    nesciunt quibusdam velit illo.
  </p>
</div>

<div class="modal modal-7" data-modal="7">
  <button
    type="button"
    class="main__close-icon modal-7__close-btn js-modal-close"
  >
    <svg class="modal-7__svg" width="20px" height="20px">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <iframe
    class="modal-7__map"
    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d164209.62383314557!2d36.205115388384236!3d49.97807097199598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LzQvtGA0L7Qt9C40LLQvg!5e0!3m2!1suk!2sua!4v1659185622007!5m2!1suk!2sua"
    width="600"
    height="450"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>

<div class="modal" data-modal="8">
  <svg class="main__close-icon js-modal-close" width="20px" height="20px">
    <use href="./images/sprite.svg#icon-close"></use>
  </svg>
  <p class="modal__title">Заготовка модального окна 8</p>
</div>
<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
