<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      data-modal-close
      type="button"
      class="modal__close-btn"
      aria-label="Кнопка закрытия модального окна"
    >
      <svg class="modal__close-icon" width="18" height="18">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <img
      src="./images/mobile/about-cow.png"
      alt="cow"
      class="modal-img"
      width="70"
    />
    <p class="modal__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      reiciendis facere corrupti dignissimos hic animi, asperiores nulla
      consequatur quaerat a odio officiis ab provident, eum eveniet nostrum
      quibusdam aspernatur placeat. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Voluptatibus, atque veritatis, architecto cumque, magnam
      debitis possimus temporibus vitae aspernatur aliquam dignissimos fugiat a
      ex modi iusto nesciunt quibusdam velit illo.
    </p>
  </div>
</div>
