.dark-button {
  color: $white-color;
  background-color: $dark-btn-color;
  cursor: pointer;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $button-hover-color;
    color: $dark-btn-color;
  }
}

.light-button {
  color: $dark-btn-color;
  background-color: $white-color;
  cursor: pointer;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 20px;
  transition: background-color 250ms $time-function;
  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}
