.header {
  position: absolute;
  width: -webkit-fill-available;
  background: $hero-background-color;
  z-index: 2;

  @include tablet {
    position: fixed;
    width: -webkit-fill-available;
    background-color: transparent;
    z-index: 3;
  }
}
.header-scroll {
  @include desktop {
    position: fixed;
    z-index: 3;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;

  @include tablet {
    padding-top: 32px;
  }
}

.header-logo:hover,
.header-logo:focus {
  outline-color: $dark-title-color;
}

// --------------------------------------------------Burger--------------------------------------------------------------

.menu-btn {
  background-color: transparent;
  margin-left: auto;

  @include desktop {
    display: none;
  }
}

.burger-menu__icon-close {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 7;
}

.menu-btn .menu-btn__close {
  display: none;

  fill: $mob-menu-background;
}

.menu-btn.is-open .menu-btn__close {
  display: block;
}

.menu-btn.is-open .menu-btn__burger {
  display: none;
}

.menu-btn.is-open {
  z-index: 6;
  right: 20px;
  top: 20px;

  @include tablet {
    position: relative;
    left: 180px;
    top: -35px;
  }
}

.burger-menu {
  position: relative;
  @include mobile {
    z-index: 3;
    padding-top: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(100%);
    transition: transform 600ms $time-function;

    background-color: $mob-menu-background;
  }

  @include tablet {
    padding-top: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(100%);
    transition: transform 600ms $time-function;

    background-color: $mob-menu-background;
  }

  @include desktop {
    display: none;
  }

  &__btn {
    width: 209px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    border-radius: 22px;
    border: none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    background: $white-color;
    color: $dark-title-color;

    &__logo {
      margin-left: 16px;
      position: relative;
      top: 1px;
    }

    @include tablet {
      width: 180px;
      height: 44px;
    }
  }
}

.burger-menu.is-open {
  @include mobile {
    padding-top: 60px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;

    transform: translateX(0);
    transition: transform 600ms $time-function;

    background-color: $mob-menu-background;
  }
  @include tablet {
    padding-top: 60px;
    width: 250px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;

    transform: translate(0);
    transition: transform 600ms $time-function;

    background-color: $mob-menu-background;
  }
}

// -----------------------------------------------------nav---------------------------------

.header-btn {
  width: 160px;
  height: 44px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  border-radius: 22px;
  border: none;
  cursor: pointer;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  background: $white-color;
  color: $dark-title-color;

  &__logo {
    margin-left: 16px;
  }

  &:hover,
  &:focus {
    background: $button-hover-color;
    outline: none;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    margin-left: 32px;
  }
}

.burger-nav__list {
  padding-top: 20px;
}

.burger-nav__link {
  display: flex;
  align-items: center;

  border: 1px solid $mob-menu-border;
  height: 42px;
  padding-left: 20px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  color: $white-color;
}

.header-nav {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.header-nav__list {
  display: flex;
  gap: 35px;
}

.header-nav__link {
  display: flex;
  align-items: center;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: $white-color;

  &:hover,
  &:focus {
    color: $dark-title-color;
    outline-color: $dark-title-color;
  }
}

.current {
  color: $dark-title-color;
}
