.header {
  position: relative;

  background: $hero-background-color;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .container {
//   margin-left: auto;
//   margin-right: auto;
//   padding: 0 20px;
// }

.header__logo {
  padding: 8px 0;
}

.menu-btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-btn .menu-btn__close {
  display: none;
  fill: $mob-menu-background;
}

.menu-btn.is-open .menu-btn__close {
  display: block;
}

.menu-btn.is-open .menu-btn__burger {
  display: none;
}

.menu-btn.is-open {
  //   position: fixed;
  margin-bottom: 26px;
  z-index: 6;
  right: 20px;
  top: 20px;
}

.header-menu {
  @media screen and (max-width: 767px) {
    // display: none;

    padding-top: 60px;
    height: 100vh;
    position: fixed;
    background-color: $mob-menu-background;
    top: 0;
    right: 0;
    // overflow: auto;
    transform: translateX(100%);
    transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.header-menu.is-open {
  @media screen and (max-width: 479px) {
    padding-top: 60px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $mob-menu-background;

    z-index: 5;
    transform: translateX(0);
    transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $mob-menu-background;

    z-index: 5;
    transform: translate(0);
    transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.header-btn {
  width: 209px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  border-radius: 22px;
  border: none;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  background: $white-color;
  color: $dark-title-color;
}

.header-btn__logo {
  margin-left: 16px;
  position: relative;
  top: 1px;
}

.header-nav {
}

.header-nav__list {
  padding-top: 20px;
}

.header-nav__item {
}

.header-nav__link {
  display: flex;
  align-items: center;

  border: 1px solid #e18298;
  height: 42px;
  padding-left: 20px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  color: $white-color;
}

.current {
  color: $dark-title-color;
}
