.header {
  position: fixed;
  width: -webkit-fill-available;
  background: $hero-background-color;
  z-index: 3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @include tablet {
    position: fixed;
    width: -webkit-fill-available;
    background-color: transparent;
    z-index: 3;
  }
}
.header-scroll {
  @include desktop {
    position: fixed;
    z-index: 3;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;

  @include tablet {
    padding-top: 32px;
  }
}

.header-logo:hover,
.header-logo:focus {
  outline-color: $dark-title-color;
}

// --------------------------------------------------Burger--------------------------------------------------------------

.menu-btn {
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer;

  @include tablet {
    right: 32px;
  }
}

// .menu-btn .menu-btn__close {
//   display: none;

//   fill: $mob-menu-background;
// }

// .menu-btn.is-open .menu-btn__close {
//   display: block;
// }

// .menu-btn.is-open .menu-btn__burger {
//   display: none;
// }

// .menu-btn.is-open {
//   z-index: 6;
//   right: 20px;
//   top: 20px;

//   @include tablet {
//     position: relative;
//     left: 180px;
//     top: -35px;
//   }
// }

.burger-menu {
  position: relative;
  @include mobile {
    z-index: 4;
    padding-top: 60px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(0);
    transition: transform 600ms $time-function;

    background-color: $mob-menu-background;
  }

  @include tablet {
    padding-top: 60px;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(0);
    transition: transform 600ms $time-function;

    background-color: $mob-menu-background;
  }

  @include desktop {
    display: none;
  }

  &__btn {
    width: 209px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    border-radius: 22px;
    border: none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    background: $white-color;
    color: $dark-title-color;

    &-logo {
      margin-left: 16px;
      position: relative;
      top: 1px;
      // left: 16px;
    }

    @include tablet {
      width: 186px;
      height: 44px;
    }
  }
}

.burger-menu.is-none {
  @include mobile {
    padding-top: 60px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;

    transform: translateX(100%);
    transition: transform 600ms $time-function;

    background-color: $mob-menu-background;
  }
  @include tablet {
    padding-top: 60px;
    width: 250px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;

    transform: translateX(100%);
    transition: transform 600ms $time-function;

    background-color: $mob-menu-background;
  }
}

// -----------------------------------------------------nav---------------------------------

.header-btn {
  width: 160px;
  height: 44px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  border-radius: 22px;
  border: none;
  cursor: pointer;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  background: $white-color;
  color: $dark-title-color;

  &__logo {
    margin-left: 16px;
  }

  &:hover,
  &:focus {
    background: $button-hover-color;
    outline: none;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    margin-left: 32px;
  }
}

.burger-nav__list {
  padding-top: 20px;
}

.burger-nav__link {
  display: flex;
  align-items: center;

  border: 1px solid $mob-menu-border;
  height: 42px;
  padding-left: 20px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  color: $white-color;
}

.header-nav {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.header-nav__list {
  display: flex;
  gap: 35px;
}

.header-nav__link {
  display: flex;
  align-items: center;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: $white-color;

  &:hover,
  &:focus {
    color: $dark-title-color;
    outline-color: $dark-title-color;
  }
}

// .current {
//   color: $dark-title-color;
// }

@-webkit-keyframes header-nav__link {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes header-nav__link {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.header-nav__link:hover,
.header-nav__link:focus,
.header-nav__link:active {
  -webkit-animation-name: header-nav__link;
  animation-name: header-nav__link;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes header-btn {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes header-btn {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.header-btn:hover,
.header-btn:focus,
.header-btn:active {
  -webkit-animation-name: header-btn;
  animation-name: header-btn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes burger-nav__link {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes burger-nav__link {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.burger-nav__link:hover,
.burger-nav__link:focus,
.burger-nav__link:active {
  -webkit-animation-name: burger-nav__link;
  animation-name: burger-nav__link;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: $dark-title-color;
}

@-webkit-keyframes burger-menu__btn {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes burger-menu__btn {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.burger-menu__btn:hover,
.burger-menu__btn:focus,
.burger-menu__btn:active {
  -webkit-animation-name: burger-menu__btn;
  animation-name: burger-menu__btn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: $dark-title-color;
}
