.products {
	background-color: $white-color;

    &__text{
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    
        text-align: center;
        text-transform: uppercase;
        border-radius: 24px;
        margin-bottom: 15px;
        color: $light-subtitle-color;
        	
        @media screen and (min-width: $tablet) {
            font-size: 26px;
            line-height: 30px;
		} 

        @media screen and (min-width: $desktop) {
            text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0),2px 2px 1px rgba(0,0,0,0.25);
            -webkit-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0),2px 2px 1px rgba(0,0,0,0.25);
            -moz-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0),2px 2px 1px rgba(0,0,0,0.25);
            font-size:30px;
            line-height: 34px;
            letter-spacing: 0.04em;
        }
    }

    &__title {
        font-family: 'Titan One';
        text-align: center;
    
        color: $dark-btn-color;
        margin-bottom: 8px;

        @media screen and (min-width: $tablet) {
            font-size: 48px;
            line-height: 55px;
		} 

        @media screen and (min-width: $desktop) {
            font-size: 58px;
            line-height: 66px;
            letter-spacing: 0.06em;
        }    
    }
}

.products-card {
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (min-width: $tablet) {
        gap: 16px;
    }
    @media screen and (min-width: $desktop) {
        gap: 32px;
    }
    
    &__item {
        text-align: center;
        width: 100%;

        @media screen and (min-width: $tablet) {
            width: calc((100% - 32px) / 3);
            max-width: 224px;   
        }

        @media screen and (min-width: $desktop) {
            width: calc((100% - 64px) / 3);
            max-width: 368px; 
        }
    }

    &__image {
        width: 100%;
        // height: auto;
        // max-width: 100%;
        display: block;
        margin-bottom: calc(-50%);

        @media screen and (min-width: $tablet) {
            margin-bottom: calc(-40%);      
        } 
    
        @media screen and (min-width: $desktop) {
            margin-bottom: calc(-25%);     
        }    
    }    
}

.products-content {
    padding-top: calc(60%);
    padding-bottom: 60px;
    background-color: $product-card1-color;
    border-radius: 24px;

    @media screen and (min-width: $tablet) {
        padding-top: calc(60%);    
    } 

    @media screen and (min-width: $desktop) {
        padding-top: calc(40%);   
    }   

    &__title{
        font-family: 'Titan One';
        font-size: 20px;
        line-height: 1.15;
        padding-bottom: 32px; 
        
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        
        color: $white-color;  
    
        @media screen and (min-width: $desktop) {
            font-size: 30px;
            line-height: 34px;
        }   
    }

    &__text{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 152%;
    
        text-align: center;
        justify-content: center;
        letter-spacing: 0.04em;
        margin: 0 auto;
        padding-bottom: 32px;
    
        color: $white-color;
        max-width: 200px;
    
        @media screen and (min-width: $tablet) {
            line-height: 176%;
        } 
    }
}

.products-content--coffee{
    background: $product-card2-color;

}
.products-content--pistachio{
    background:$product-card3-color;
}

.products-content__list-ellipse {
	display: flex;
	justify-content: center;
    padding-bottom: 32px; 
}

.products-content__icon-ellipse {
	fill:$white-color;
    background-color: $white-color;
    border-radius: 50%;
}

.products-content__item-ellipse:not(:last-child) {
	margin-right: 4px;
}

.products-content__button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.products-content__icon {
    padding-bottom: 40px;

    @media screen and (min-width: $desktop) {
        padding-bottom: 60px;
    }
}
  

