.products {
  &__pre-title {
    margin-bottom: 12px;

    @include tablet {
      margin-bottom: 18px;
    }
    @include desktop {
      margin-bottom: 16px;
    }
  }

  &__title {
    margin-bottom: 8px;

    @include tablet {
      margin-bottom: 20px;
    }
  }
}

.products-card {
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    gap: 16px;
  }

  @include desktop {
    gap: 32px;
  }

  &__item {
    text-align: center;
    width: 100%;

    @include tablet {
      width: calc((100% - 32px) / 3);
      max-width: 224px;
    }

    @include desktop {
      width: calc((100% - 64px) / 3);
      max-width: 368px;
    }
  }

  &__image {
    width: 100%;
    display: block;
    margin-bottom: calc(-50%);

    @include tablet {
      margin-bottom: calc(-40%);
    }

    @include desktop {
      margin-bottom: calc(-25%);
    }
  }
}

.products-content {
  padding-top: calc(60%);
  padding-bottom: 40px;
  background-color: $product-card1-color;
  border-radius: 24px;

  @include tablet {
    padding-top: calc(60%);
  }

  @include desktop {
    padding-top: calc(40%);
    padding-bottom: 60px;
  }

  &__title {
    font-family: $title-font;
    font-size: 20px;
    line-height: 1.15;
    padding-bottom: 32px;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $white-color;

    @include desktop {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__text {
    font-weight: 700;

    text-align: center;
    justify-content: center;
    letter-spacing: 0.04em;
    margin: 0 auto;
    padding-bottom: 32px;

    color: $white-color;
    max-width: 200px;
    @media screen and (max-width: $tablet) {
      font-size: 14px;
    }

    @include tablet {
      max-width: 160px;
    }

    @include desktop {
      max-width: 241px;
    }
  }
}

.products-content--coffee {
  background: $product-card2-color;
}
.products-content--pistachio {
  background: $product-card3-color;
}

.products-content__list-ellipse {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.products-content__item-ellipse {
  width: 6px;
  height: 6px;
  background-color: $white-color;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 4px;
  }
}

.products-content__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  transition-property: transform;
  transition-duration: 250ms;

  &:hover {
    box-shadow: 3px 3px 6px hsla(1, 1, 1, 0.3);
    transform: scale(1.03);
  }
}

.products-content__icon {
  padding-bottom: 40px;

  @include desktop {
    padding-bottom: 60px;
  }
}
