.advantage {
  background-color: $about-footer-background-color;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 98px;
  @include tablet {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 22px;
  }
  @include desktop {
    gap: 115px;
  }
}

.advantage__item {
  width: 220px;
  @include tablet {
    width: 250px;
  }
  @include desktop {
    width: 288px;
  }
}

.advantage__subtitle {
  position: relative;
  font-size: 36px;
  margin-bottom: 19px;
  @include tablet {
    margin-bottom: 13px;
    font-size: 48px;
  }
  @include desktop {
    margin-bottom: 16px;
    font-size: 59px;
  }

  &.element-animation.element-show {
    animation-name: advantage;
    animation-duration: 1s;
  }
}

@keyframes advantage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.cow-milk::before {
  content: '';
  top: -66px;
  width: 33px;
  height: 50px;
  background-size: 33px 50px;
  position: absolute;
  background-image: url(../images/desktop/advantages-1.png);
  @include tablet {
    top: -86px;
  }
  @include desktop {
    top: -90px;
  }
}

.apple::before {
  content: '';
  top: -66px;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  position: absolute;
  background-image: url(../images/desktop/advantages-2.png);
  @include tablet {
    top: -86px;
  }
  @include desktop {
    top: -90px;
  }
}

.heart::before {
  content: '';
  top: -66px;
  width: 44px;
  height: 50px;
  background-size: 44px 50px;
  position: absolute;
  background-image: url(../images/desktop/advantages-3.png);
  @include tablet {
    top: -86px;
  }
  @include desktop {
    top: -90px;
  }
}

.advantage__text {
  font-weight: 700;
}
