.footer {
  background-color: $about-footer-background-color;

  &__connection {
    @media screen and (max-width: $desktop) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 67px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 120px;
    }
  }

  &__text {
    text-align: left;
    margin-bottom: 16px;
    letter-spacing: 1px;
    @media screen and (max-width: $tablet) {
      max-width: 232px;
    }
  }

  &__title {
    text-align: left;

    @media screen and (max-width: $tablet) {
      margin: 0 84px 40px 0;
    }
  }

  &__boxtext {
    @media screen and (min-width: $tablet) {
      width: 340px;
    }
    @media screen and (min-width: $desktop) {
      width: 480px;
    }
  }

  &__network {
    display: flex;
    justify-content: flex-end;

    @media screen and (min-width: $tablet) {
      margin-top: 60px;
    }
    @media screen and (max-width: $desktop) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: $desktop) {
      margin: 12px 0 40px 0;
    }
  }

  &__link:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fea5bb;
    border-radius: 50%;

    & a {
      display: flex;
    }

    @media screen and (max-width: $tablet) {
      width: 32px;
      height: 32px;
    }

    @media screen and (min-width: $tablet) {
      width: 34px;
      height: 34px;
    }
  }

  &__link:hover,
  &__link:focus {
    background-color: $dark-title-color;
    -webkit-animation-name: header-nav__link;
    animation-name: header-nav__link;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  &__telephone {
    font-weight: 700;
    color: #000000;
    padding-left: 34px;
    @media screen and (min-width: $tablet) {
      padding-left: 0;
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
      margin-left: 0;
    }

    &--number {
      color: $dark-title-color;
      margin-left: 3px;
    }
  }

  &__telephone:hover,
  &__telephone:focus {
    -webkit-animation-name: burger-menu__btn;
    animation-name: burger-menu__btn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  &__end {
    font-weight: 700;
    font-size: 14px;
    color: $light-font-color;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    border-top: 1px solid #e1e1e1;

    @media screen and (max-width: 401px) {
      width: 150px;
    }
    @media screen and (min-width: $tablet) {
      padding-top: 8px;
      line-height: 152%;
    }
    @media screen and (min-width: $desktop) {
      line-height: 186%;
      letter-spacing: 0.02em;
    }
  }
}
